body {
    padding: 0;
    margin: 0;
    background: rgb(236, 236, 236);
}

img {
    padding-right: 20px;
}

.jumbotron {
    background-color: white;
    border: solid 2px grey;
}

.bg-light {
    background-color: white;
    height: 60px;
    border-bottom: solid 2px grey;
    width: 100%;
}

.bg-light {
    background-color: #f8f9fa!important;
}

.navbar-light .navbar-brand {
    color: #fff;
    background-color: teal;
    padding: 1rem;
    margin-left: 340px;
    margin-top: 0px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: grey;
    margin-left: 375px;
}

.navbar-light .navbar-nav .nav-link {
    color: grey;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    border-top: solid 2px teal;
    height: 60px;
}

 #copyright {
     color: white;
     font-size: xx-small;
     margin-top: 28px;
     text-align: center;
}




 @media only screen and (max-width: 991px) {
    .navbar-light .navbar-brand {
        color: #fff;
        background-color: teal;
        padding: 1rem;
        margin-left: 10rem;
        margin-top: -79px;
    } }

